*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #b269ff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em 12%;
    background: #7b00fe85;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2rem;
    color: white;
    font-weight: 800;
    transition: 0.3s ease;
}

.logo:hover{
    letter-spacing: 1.5px;
    transform: scale(1.1);
}

.navbar a{
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    margin: 0 2em;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover{
    letter-spacing: 1.5px;
}

.navbar a.active{
    border-bottom: 2px solid white;
}

.contact{

    font-size: 1.2rem;
    background: white;
    padding: .75em;
    border: 2px solid transparent;
    border-radius: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

.contact:hover{
    letter-spacing: 1.5px;
}

.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 2em;
    padding-left: 5em;

    font-size: 1.5rem;

    .greetings{
        font-size: 5rem;
    }
}

.buttons a{
    display: flex;
    margin-top: 1em;
    margin-left: 15vh;
    font-size:  1.2rem;
    padding: .75em;
    border: 2px solid transparent;
    border-radius: 16px;
    font-weight: 500;
    background: white;
    transition: 0.3s ease;
}

.buttons a:hover{
    transform: scale(1.1);
}

.home span{
    letter-spacing: .8px;
    color: white;
    transition: 0.3s ease;
}

.home span:hover{
    letter-spacing: 1.5px;
}

footer{

    width: 100%;
    padding: 2em 12%;
    background: #7b00fe85;

}
